<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://img.icons8.com/cotton/64/000000/time-machine.png" rel="shortcut icon" type="image/x-icon"/>
    <title>Chitragupta - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>

        body {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            background: -moz-linear-gradient(right,  #507ba3 0%, #53e3a6 100%);
            background: -webkit-gradient(linear, right top, left top, from(#50a3a2), to(#53e3a6));
            color: rgb(22, 0, 0);
        }

        .box{
            padding:30px 0px;
        }

        .text {
            display: block;
            width: 220px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .card-img-top {
            width: 100%;
            height: 10vw;
            object-fit: fill;
        }

    </style>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
        <p class="navbar-brand">Chitragupta</p>
        <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon "></span>
        </button>
    </nav>
    <div class="container box">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card columns">
                        <img src="https://www.mindtree.com/sites/default/files/2018-05/Intelligent%20Automation.jpg" class="card-img-top" alt="logo" title="Automation">
                        <div class="card-body">
                            <h5 class="card-title text" style="text-transform:capitalize;" title="Automation">Automation</h5>
                        </div>
                        <div class="card-footer">
                           <a type="button" href="automation-home" class="btn btn-light float-center btn-sm"><i class="fa fa-play"></i> View</a>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card columns">
                        <img src="https://www.perforce.com/sites/default/files/image/2018-06/image-blog-what-is-static-analysis.jpg" class="card-img-top" alt="logo" title="Static Code Analysis">
                        <div class="card-body">
                            <h5 class="card-title text" style="text-transform:capitalize;" title="Static Code Analysis">Static Code Analysis</h5>
                        </div>
                        <div class="card-footer">
                           <a type="button" href="sa-home" class="btn btn-light float-center btn-sm"><i class="fa fa-play"></i> View</a>
                        </div>
                    </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card columns">
                        <img src="/static/FCS.jpg" class="card-img-top" alt="logo" title="Firmware Code Size Analysis">
                        <div class="card-body">
                            <h5 class="card-title text" style="text-transform:capitalize;" title="Firmware Code Size Analysis">Firmware Code Size Tracker</h5>
                        </div>
                        <div class="card-footer">
                           <a type="button" href="fcs-home" class="btn btn-light float-center btn-sm"><i class="fa fa-play"></i> View</a>
                        </div>
                    </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card columns">
                        <img src="/static/Consolidated.jpg" class="card-img-top" alt="logo" title="Consolidated">
                        <div class="card-body">
                            <h5 class="card-title text" style="text-transform:capitalize;" title="Consolidated">Consolidated</h5>
                        </div>
                        <div class="card-footer">
                           <a type="button" href="build-version" class="btn btn-light float-center btn-sm"><i class="fa fa-play"></i> View</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>